<footer class="footer">
  <div class="container">
    <div>
      <h5 class="list-title">Контакти</h5>
      <address>Київ,<br />вул. М. Грушевського, 6</address>
      <a href="tel:278-13-57, 278-74-54" class="link footer__phone"
        >тел. 278-13-57, 278-74-54</a
      >
      <a href="mailto:info@namu.kiev.ua" class="link footer__mail"
        >info@namu.kiev.ua</a
      >
    </div>
    <div>
      <h5 class="list-title">Розклад роботи</h5>
      <ul>
        <li>
          <time class="main-text">ПН: вихідний</time>
        </li>
        <li>
          <time class="main-text">ВТ: вихідний</time>
        </li>
        <li>
          <time class="main-text">СР: 10:00 - 17:00</time>
        </li>
        <li>
          <time class="main-text">ЧТ: 10:00 - 17:00</time>
        </li>
        <li>
          <time class="main-text">ПТ: 12:00 - 19:00</time>
        </li>
        <li>
          <time class="main-text">СБ: 11:00 - 18:00</time>
        </li>
        <li>
          <time class="main-text"НД: 10:00 - 17:00</time>
        </li>
      </ul>
    </div>
    <div>
      <h5 class="list-title">Головна</h5>
      <ul>
        <li><a href="/" class="main-text">Виставки</a></li>
        <li><a class="main-text" href="/">Події</a></li>
        <li><a class="main-text" href="/">Новини</a></li>
      </ul>
    </div>
    <div>
      <div>
        <span>© 2010 — 2020</span>
        <span>Privacy — Terms</span>
      </div>
      <div>
        <a href="/"></a>
      </div>
    </div>
  </div>
</footer>
