<header class="header">
  <div class="container">
    <div>
      <div>
        <a href="/"> NAMU </a>
      </div>
      <div>
        <button></button>
      </div>
    </div>
    <div class="header__content">
        <p class="additional-text">10 серпня - 10 листопада</p>
        <h1 class="main-title">Мистецтво &#8554&#8553 - &#8553&#8553 ст.</h1>
        <p class="main-text">Внесок українських митців у світову культуру 19-20 ст.</p>
        <button class="button-primary">Купити квиток</button>
    </div>
  </div>
</header>
