<section class="news">
  <div class="container">
    <h3 class="title">Новини</h3>
    <ul>
      <li>
        <div>
          <img src="/src/images/topical/topical_1.png" />
          <time class="main-text">9 серпня 2019</time>
          <h4 class="item-title">Оголошення переможця</h4>
          <p class="main-text">
            Друзі, сьогодні п'ятниця! А це означає, що час оголосити переможця
            розіграшу...
          </p>
        </div>
      </li>
      <li>
        <div>
          <img src="/src/images/topical/topical_1.png" />
          <time class="main-text">9 серпня 2019</time>
          <h4 class="item-title">Міжнародний день котів</h4>
          <p class="main-text">
            Музей з левами не може просто так взяти і пропустити Міжнародний
            день котів!
          </p>
        </div>
      </li>
    </ul>
    <button>Усі новини</button>
  </div>
</section>
