<section class="subscription">
  <div class="container">
    <h3 class="title">Підпишіться на дайджест</h3>
    <p class="main-text">
      Першими дізнавайтесь про новини музею та розіграші, отримуйте запрошення
      на події та читайте статті від кураторів
    </p>
    <form>
      <div>
        <input type="text" placeholder="e-mail" name="mail" required />
      </div>
      <div>
        <input class="button-primary" type="submit" value="Підписатись" />
      </div>
    </form>
  </div>
</section>
